{%extends "reviews_home.html"%}
{%block specific%}
<head>
    <div class="roadName">
<p class="NavOption">
       {{road.name|capfirst}}</p>
        <p class="reviewsTitle">
       Ratings and Reviews</p>

        <ul class ="newUL">
            {%for item in road.given_reviews.all %}
            <li><p class = "review_text_please">
                {{item.number_rating}}/10 by {{item.author}}<br><br>
                {{item.text}}


            </p></li>

{% endfor %}
</ul>
<div class = "star_settings">
       {%if road.rating >= 1 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

       {%if road.rating >= 2 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

       {%if road.rating >= 3 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

      {%if road.rating >= 4 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

      {%if road.rating >= 5 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

      {%if road.rating >= 6 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

       {%if road.rating >= 7 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

       {%if road.rating >= 8 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

      {%if road.rating >= 9 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}

      {%if road.rating >= 10 %}
                <img class = "stars"
                src="/static/star.png" alt = "star"/></img>
            {%else%}
                <img class = "empty_stars"
                src="/static/starEmpty.png" alt = "star"/></img>
            {%endif%}
</div>
</div>

     <img src="/static/starEmpty.png" alt = "star"/>

{%endblock%}